<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Report Generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <style>
      @page {
        size: a4;
        -webkit-print-color-adjust: exact;
      }
    </style>
    <div class="h-2 top-0 bg-green-400"></div>
    <div
      class="max-w-4xl m-auto mx-auto my-10 p-2 flex flex-col space-y-8 items-center justify-center"
    >
      <div class="flex flex-col space-y-4 text-center">
        <div>
          <div class="font-medium">
            {{.Heading.Heading1}}
            <span class="text-blue-600 font-bold"> {{.ShopName}} </span>
            ANNEXURE-15
          </div>
        </div>
        <div>
          <div class="font-bold">
            {{.Heading.Heading2}}
            <span class="text-blue-600 uppercase"> {{.CashCreditBank}} </span>
          </div>
        </div>
        <div>
          <div class="font-medium underline">
            {{.Heading.Heading3}}
            <span class="text-blue-600 uppercase">{{.Date}}</span>
          </div>
        </div>
      </div>

      <table id="tableInfo" class="bg-white shadow-md rounded-xl w-full">
        <thead>
          <tr class="bg-blue-gray-100 text-gray-700">
            <th class="py-3 px-4 text-left">SL.No</th>
            <th class="py-3 px-4 text-left">
              Particulars of goods hypothecated
            </th>
            <th class="py-3 px-4 text-left">Price (INR)</th>
            <th class="py-3 px-4 text-left">Quantity (pics)</th>
            <th class="py-3 px-4 text-left">Total (INR)</th>
          </tr>
        </thead>
        <tbody class="text-blue-gray-900 text-sm">
          {{range $product := .Products}}
          <tr class="border-b border-blue-gray-200 odd:bg-gray-100">
            <td class="py-3 px-4">{{$product.ID}}</td>
            <td class="py-3 px-4 text-left">{{$product.ProductName}}</td>
            <td class="py-3 px-4">₹{{$product.Price}}</td>
            <td class="py-3 px-4">{{$product.Quantity}}</td>
            <td class="py-3 px-4">
              ₹{{ (mul $product.Price $product.Quantity) }}
            </td>
          </tr>
          {{end}}

          <!-- Add more rows as needed -->
          <tr class="border-b border-blue-gray-200">
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4 font-medium">Total Amount:</td>
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4 font-bold text-blue-600">₹{{.TotalAmount}}</td>
          </tr>
          <tr class="border-b border-blue-gray-200">
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4 font-medium">
              Less margin as per agreement @
              <span class="text-blue-600">{{.PercentageLess}}</span>&percnt;
            </td>
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4 font-medium text-blue-600">
              - ₹{{.GrossDiscountAmount}}
            </td>
          </tr>
          <tr class="border-b border-blue-gray-200">
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4 font-medium">Net Drawing Power:</td>
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4"></td>
            <td class="py-3 px-4 font-bold text-blue-600">
              ₹{{ .AmountAfterDiscount}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="w-full pt-5 px-4 mb-8 mx-auto">
      <div class="text-sm text-gray-700 py-1 text-center">
        Made with ❤️ using
        <a
          class="text-gray-700 font-semibold"
          href="https://github.com/sounishnath003/salesreport-generation-go"
          target="_blank"
          >Htmx + Golang</a
        >
        by
        <a
          href="https://www.linkedin.com/in/sounishnath/"
          class="ttext-blue-600 font-semibold underline"
          target="_blank"
        >
          {{.AuthorName}}</a
        >. |
        <span class="px-3 rounded py-1 bg-yellow-300 font-medium"
          >Work in progress</span
        >
      </div>
    </div>
  </body>
</html>
